.movies-main{

    margin: auto;
    width: 90%;
    /* border-bottom: 3px solid pink; */
    display: inline-block;
    display: flex;
    justify-content: space-around;
    /* align-content: center; */
    margin:5%;
   
}
.movie-item{
    /* background-color:rgb(248, 248, 248); */
    display: inline-block;
    box-sizing: border-box;
    background-color:#ff4081;
    max-height: 590px;
    min-height: 590px;
    /* border:3px solid black; */
    margin: 1%;
    max-width: 31%;
    min-width: 350px;
    
    flex:1;
    justify-content: space-around;
    box-sizing:border-box;
    flex-wrap: wrap;
    
}

img{
    max-width:450px;
}

.add-movie{
    background-color:rgb(248, 248, 248); /* Green */
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;
   
}
/* img{
    align-content: center;
    padding:15%;
}

ul {
    list-style-type: none;
  } */

